# Database Configuration
DB_SA_PASSWORD=TopSecr3t!

# Database Initialization Variables
DB_NAME=ElektronickePosudky
DB_USER=api_user
DB_PASSWORD=Passw0rd!

# API Configuration
ASPNETCORE_ENVIRONMENT=Production

# Connection Strings
ConnectionStrings__DefaultConnection=Server=db,1433;Database=ElektronickePosudky;User=api_user;Password=Passw0rd!;TrustServerCertificate=True;
